## Dragon Real Estate Price Predictor

In [1]:
import pandas as pd

In [2]:
hausing = pd.read_csv("data.csv")

In [3]:
hausing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
#hausing.info()

In [5]:
#hausing['CHAS'].value_counts()

In [6]:
hausing.describe()
#hausing.shape

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.289577,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.703203,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.888000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.209000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.629000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
%matplotlib inline

In [8]:
import matplotlib as plt

In [9]:
#hausing.hist(bins=50, figsize=(20,15))

## Train - Test Splitting

In [10]:
 import numpy as np
# def split_train_test(data, test_ratio):
#     np.random.seed(42)
#     shuffled = np.random.permutation(len(data))
#     test_set_size = int(len(data)*test_ratio)
#     test_indices = shuffled[:test_set_size]
#     train_indices = shuffled[test_set_size:]
#     return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
# train_set, test_set = split_train_test(hausing, 0.2)

In [12]:
# print(f"Rows in train set : {len(train_set)}\nRows in test set : {len(test_set)}\n")

In [13]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(hausing, test_size = 0.2, random_state = 42)
print(f"Rows in train set : {len(train_set)}\nRows in test set : {len(test_set)}\n")

Rows in train set : 404
Rows in test set : 102

In [14]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(hausing, hausing['CHAS']):
    strat_train_set = hausing.loc[train_index]
    strat_test_set = hausing.loc[test_index]

In [15]:
#strat_test_set['CHAS'].value_counts()

In [16]:
#strat_train_set['CHAS'].value_counts()

In [17]:
strat_train_set.shape

(404, 14)

In [18]:
hausing = strat_train_set.copy() # made hausing as train set to see correlation and all other only work on train set 
 # so that test set remains unseen and untouched

In [19]:
hausing.shape

(404, 14)

## Looking for Correlations

In [20]:
corr_matrix = hausing.corr()
corr_matrix['MEDV'].sort_values(ascending=False)

MEDV       1.000000
RM         0.680999
B          0.361761
ZN         0.339741
DIS        0.240451
CHAS       0.205066
AGE       -0.364596
RAD       -0.374693
CRIM      -0.393715
NOX       -0.422873
TAX       -0.456657
INDUS     -0.473516
PTRATIO   -0.493534
LSTAT     -0.740494
Name: MEDV, dtype: float64

In [21]:
from pandas.plotting import scatter_matrix
attributes = ['MEDV', 'RM', 'ZN', 'LSTAT']
#scatter_matrix(hausing[attributes], figsize = (12, 8))

In [22]:
#hausing.plot(kind='scatter', x='RM', y='MEDV', alpha=0.8)

## Trying out Attribute combination

In [23]:
hausing['TAXRM'] = hausing['TAX']/hausing['RM']

In [24]:
#hausing.head()

In [25]:
corr_matrix = hausing.corr()
#corr_matrix['MEDV'].sort_values(ascending=False)

In [26]:
#hausing.plot(kind='scatter', x='TAXRM', y='MEDV', alpha=0.8)

In [27]:
hausing = strat_train_set.drop('MEDV', axis=1)
# droping price column and saving it as hausing_labels
# note : we took  labels from  stratified suffeled split to fit in model later
hausing_labels = strat_train_set['MEDV'].copy()

## Missing Attributes

In [28]:
median = hausing['RM'].median()

In [29]:
hausing['RM'].fillna(median)

254    6.108
348    6.635
476    6.484
321    6.376
326    6.312
       ...
155    6.152
423    6.103
98     7.820
455    6.525
216    5.888
Name: RM, Length: 404, dtype: float64

In [30]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputer.fit(hausing)

SimpleImputer(strategy='median')

In [31]:
X = imputer.transform(hausing)
hausing_tr = pd.DataFrame(X, columns=hausing.columns)
hausing_tr.shape
#hausing_tr.head()

(404, 13)

# Scikit-learn Design

Primarily, three types of objects

1. Estimators - It estimates some parameter based on a dataset. Eg. imputer
It has a fit method and transform method
Fit method - Fits the dataset and calculates internal parameters
    
2. Transformers - transform method takes input and returns output based on the
learnings from fit (). It also has a convenience function called fit_transform(), which fits and then transforms.

3. Predictors - LinearRegression model is an example of predictor. fit() and
predict) are two common functions. It also gives score() function which will evaluate the predictions.
They will take numpy array as input.

## Feature Scaling 

We need this becouse some general ML algorithm works and performs well when our Nummerical attributes are in same scale.
in our case some features attributes are in rage of 0 to 8 (RM) and some are in rage of 0 to 50 (MEDV).
we need to scale them so their range get same, for that we use Feature scaling.

Primarily, two types of feature scaling methods:
1. Min-max scaling (Normalization) 
     (value - min) / (max - min) 
     
     Sklearn provides a class called MinMaxScaler for this. The range will be: 0 - 1

2. Standardization 
     (value - mean) /std  
     
     Sklearn provides a class called StandardScaler for this.
     we will use this coz, unlike min-max scaling std scaling do not depend on all value. e.g min and max can change with error      value but std will remain const.

## Creating a Pipelines

we have done some preprocessing before for learning purpuse, but in real we need to fit all in our pipeline (after importing data) imputer and all should be in pipeline to automate the Process

In [32]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    # we can add as many we need to process our data
    ('std_scaler', StandardScaler()),
])

In [33]:
hausing_num_tr = my_pipeline.fit_transform(hausing)
# we have fit and transform in hausing coz we made hausing as train set earlier. 
# This is our input and it's numpy array becouse our model will take numpy as input thats why we dont make pandas dataframe

In [34]:
hausing_num_tr.shape

(404, 13)

## Selecting a desiered model for Dragon Real Estates

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# model = LinearRegression() 
# model = DecisionTreeRegressor()
model = RandomForestRegressor()
model.fit(hausing_num_tr, hausing_labels)

RandomForestRegressor()

## Cheaking our Model Prediction
cheaking only 5 values here.

In [36]:
some_data = hausing.iloc[:5] # took some data from train set

In [37]:
some_labels = hausing_labels.iloc[:5] # took same corresponding labels

In [38]:
prepared_data = my_pipeline.transform(some_data) # we need to prepare data using pipeline before feeding it to model

In [39]:
model.predict(prepared_data) # predicting labels

array([22.176, 25.276, 16.528, 23.296, 23.506])

In [40]:
list(some_labels)  # to compare with predicted labels

[21.9, 24.5, 16.7, 23.1, 23.0]

## Evaluating the Model
We are taking whole training set here. e.g (hausing_labels, hausing_prediction)
using mean squared errors and root mean squared errors

In [41]:
from sklearn.metrics import mean_squared_error
hausing_prediction = model.predict(hausing_num_tr)
mse = mean_squared_error(hausing_labels, hausing_prediction)
rmse = np.sqrt(mse)

In [42]:
rmse

1.1976655469605177

## Using better evaluation technique - Cross Validation

In [43]:
# 1 2 3 4 5 6 7 8 9 10  (  Train data groups equally distributed random data points)
# we take 1st data set for test and use other 9 set to train then we take 2nd set and train with other 9 set and so on ...

from sklearn.model_selection import cross_val_score
scores= cross_val_score(model, hausing_num_tr, hausing_labels, scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)

In [44]:
#rmse_scores

In [45]:
# to print all data togather we made small function
def print_scores(scores):
    print("Scores : " , scores)
    print("Mean : ", scores.mean())
    print("Standrad deviation : ", scores.std()) 
# score is mean +- std  e.g (3.49 +- 0.76)

In [46]:
print_scores(rmse_scores)

Scores :  [2.75856353 2.83853235 4.3451583  2.4644252  3.49289835 2.5972199
 4.84429113 3.26484688 3.21929408 3.29385154]
Mean :  3.31190812704435
Standrad deviation :  0.7224237421773173

## Saving the Model

In [47]:
from joblib import dump, load
dump(model, 'Dragon.joblib')

['Dragon.joblib']

## Testing the Model on test data

In [48]:
# we did this before for train data set. process wiil be same as before. 

X_test = strat_test_set.drop("MEDV", axis=1) 
Y_test = strat_test_set["MEDV"].copy()
X_test_prepared = my_pipeline.transform(X_test)
final_predictions = model.predict(X_test_prepared)
final_mse = mean_squared_error(Y_test, final_predictions)
final_rmse = np.sqrt(final_mse)

In [49]:
#print(final_predictions) # to compare data value

In [50]:
#print(list(Y_test))  # to compare data value

In [51]:
final_rmse

2.9250679965282376

## Note: 
this model performs well becouse : 
1) we took small data set 
2) we used only 3 models to compare
3) we did not perform fine tunning

## Using the Model

In [52]:
# we are loading this model in other file using this commands. 

from joblib import dump, load
import numpy as np
model=load('Dragon.joblib')
features = np.array([[-0.43942006,  3.12628155, -1.12165014, -0.27288841, -1.42262747,
       -0.24141041, -1.31238772,  2.61111401, -1.0016859 , -0.5778192 ,
       -0.97491834,  0.41164221, -0.86091034]]) # this is our sample data copied from code: prepared_data[0]

model.predict(features) # this will return price(lables) for given inputs(features) using our model.

array([22.176])